form {
    border: 1px solid rgb(211,211,211,0.5);
    box-shadow: 2px 2px 8px 4px  rgba(157, 129, 137, 0.826);
    background-color: #F2F2EB;
    padding: 15px 50px;
    border-radius: 10px;
}

h2, h4 {
    text-align: center;
}

input[type='text'] {
    width: 100px;
    height: 12px;
}

#submitButton {
    padding: 10px 15px;
    background-color: rgb(124,113,167);
    color: aliceblue;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 70px;
}

#submitButton:hover {
    color: #D9B573;
}

#entero, #decimal, #factorial {
    background-color:#9F84D9;
    color: aliceblue;
    border-radius: 10px;
}

#entero:hover, #decimal:hover, #factorial:hover {
    color: #D9B573;
}

#parteEntera, #parteDecimal, #resultadoFactorial {
    border-radius: 5px;
    display: inline;
    padding: 5px 30px;
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
}